<html lang="en">
{% extends 'common/base.html' %}

{% block content %}
<div class="body">
    <!-- Your Profile Data -->
    <h1>Your Profile</h1>
    <div class="expenses-container">
        <div class="expense-container">
            <!-- Full Name -->
            <h2>{{ profile.get_full_name }}</h2>
            <!-- Profile Image -->
            {% if not profile.profile_image.url %}
                <img src="/static/images/user.png" alt="profile pic">
                {% else %}
                <img src="{{ profile.profile_image.url }}" alt="profile pic">
            {% endif %}
            <!-- Profile Description -->
            <!-- Total Items Bought -->
            <p>Total Items Bought: {{ expenses_bought }}</p>
            <!-- Budget Left -->
            <p>Budget Left: {{ profile.budget }}$</p>
            <div class="right">
                <!-- Edit Profile Button -->
                <a class="button edit" href="{% url 'edit profile' %}">Edit Profile</a>
                <!-- Delete Profile Button -->
                <a class="button delete" href="{% url 'delete profile' %}">Delete Profile</a>
            </div>
        </div>
    </div>
    <!-- End Your Profile Data -->
</div>

{%  endblock %}